/.vs/BookExchange/v15/.suo
/.vs/BookExchange/v15/Server/sqlite3/db.lock
/.vs/BookExchange/v15/Server/sqlite3/storage.ide
/.vs/BookExchange/v15/Server/sqlite3/storage.ide-shm
/.vs/BookExchange/v15/Server/sqlite3/storage.ide-wal
/BookExchange/Resources/Entypo-license.txt
/BookExchange/Resources/Entypo.ttf
/BookExchange/Resources/Icons.xaml
/BookExchange/Resources/IconsNonShared.xaml
/BookExchange/Resources/WindowsIcons-license.txt
/BookExchange/bin/Debug/BookExchange.exe
/BookExchange/bin/Debug/BookExchange.exe.config
/BookExchange/bin/Debug/BookExchange.pdb
/BookExchange/bin/Debug/Resources/backgroud.bmp
/BookExchange/bin/Debug/Resources/login_name.png
/BookExchange/bin/Debug/Resources/login_password.png
/BookExchange/bin/Debug/Utility.dll
/BookExchange/bin/Debug/Utility.pdb
/BookExchange/bin/Debug/ViewModel.dll
/BookExchange/bin/Debug/ViewModel.pdb
/BookExchange/obj/Debug/App.g.cs
/BookExchange/obj/Debug/App.g.i.cs
/BookExchange/obj/Debug/BookExchange.Properties.Resources.resources
/BookExchange/obj/Debug/BookExchange.csproj.CopyComplete
/BookExchange/obj/Debug/BookExchange.csproj.CoreCompileInputs.cache
/BookExchange/obj/Debug/BookExchange.csproj.FileListAbsolute.txt
/BookExchange/obj/Debug/BookExchange.csproj.GenerateResource.cache
/BookExchange/obj/Debug/BookExchange.csprojAssemblyReference.cache
/BookExchange/obj/Debug/BookExchange.exe
/BookExchange/obj/Debug/BookExchange.g.resources
/BookExchange/obj/Debug/BookExchange.pdb
/BookExchange/obj/Debug/BookExchange_MarkupCompile.cache
/BookExchange/obj/Debug/BookExchange_MarkupCompile.i.cache
/BookExchange/obj/Debug/BookExchange_MarkupCompile.lref
/BookExchange/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/BookExchange/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BookExchange/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/BookExchange/obj/Debug/MainWindow.g.i.cs
/BookExchange/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/BookExchange/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BookExchange/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BookExchange/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BookExchange/obj/Debug/WindowLogin.baml
/BookExchange/obj/Debug/WindowLogin.g.cs
/BookExchange/obj/Debug/WindowLogin.g.i.cs
/BookExchange/obj/Debug/WindowMain.baml
/BookExchange/obj/Debug/WindowMain.g.cs
/BookExchange/obj/Debug/WindowMain.g.i.cs
/DTO/bin/Debug/DTO.dll
/DTO/bin/Debug/DTO.pdb
/DTO/obj/Debug/DTO.csproj.CoreCompileInputs.cache
/DTO/obj/Debug/DTO.csproj.FileListAbsolute.txt
/DTO/obj/Debug/DTO.csprojAssemblyReference.cache
/DTO/obj/Debug/DTO.dll
/DTO/obj/Debug/DTO.pdb
/DTO/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/DTO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DTO/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DTO/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DTO/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Model/bin/Debug/Model.dll
/Model/bin/Debug/Model.pdb
/Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Model/obj/Debug/Model.csproj.CoreCompileInputs.cache
/Model/obj/Debug/Model.csproj.FileListAbsolute.txt
/Model/obj/Debug/Model.csprojAssemblyReference.cache
/Model/obj/Debug/Model.dll
/Model/obj/Debug/Model.pdb
/Model/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Model/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Model/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Proxy/bin/Debug/Proxy.dll
/Proxy/bin/Debug/Proxy.pdb
/Proxy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Proxy/obj/Debug/Proxy.csproj.CoreCompileInputs.cache
/Proxy/obj/Debug/Proxy.csproj.FileListAbsolute.txt
/Proxy/obj/Debug/Proxy.csprojAssemblyReference.cache
/Proxy/obj/Debug/Proxy.dll
/Proxy/obj/Debug/Proxy.pdb
/Proxy/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Proxy/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Proxy/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Utility/bin/Debug/Utility.dll
/Utility/bin/Debug/Utility.pdb
/Utility/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Utility/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Utility/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Utility/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Utility/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Utility/obj/Debug/Utility.csproj.CoreCompileInputs.cache
/Utility/obj/Debug/Utility.csproj.FileListAbsolute.txt
/Utility/obj/Debug/Utility.csprojAssemblyReference.cache
/Utility/obj/Debug/Utility.dll
/Utility/obj/Debug/Utility.pdb
/ViewModel/bin/Debug/DTO.dll
/ViewModel/bin/Debug/DTO.pdb
/ViewModel/bin/Debug/Model.dll
/ViewModel/bin/Debug/Model.pdb
/ViewModel/bin/Debug/Proxy.dll
/ViewModel/bin/Debug/Proxy.pdb
/ViewModel/bin/Debug/Utility.dll
/ViewModel/bin/Debug/Utility.pdb
/ViewModel/bin/Debug/ViewModel.dll
/ViewModel/bin/Debug/ViewModel.pdb
/ViewModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ViewModel/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ViewModel/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ViewModel/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ViewModel/obj/Debug/ViewModel.csproj.CopyComplete
/ViewModel/obj/Debug/ViewModel.csproj.CoreCompileInputs.cache
/ViewModel/obj/Debug/ViewModel.csproj.FileListAbsolute.txt
/ViewModel/obj/Debug/ViewModel.csprojAssemblyReference.cache
/ViewModel/obj/Debug/ViewModel.dll
/ViewModel/obj/Debug/ViewModel.pdb


/BookExchange/bin/Debug/ControlzEx.dll
/BookExchange/bin/Debug/ControlzEx.pdb
/BookExchange/bin/Debug/MahApps.Metro.IconPacks.dll
/BookExchange/bin/Debug/MahApps.Metro.IconPacks.pdb
/BookExchange/bin/Debug/MahApps.Metro.IconPacks.xml
/BookExchange/bin/Debug/MahApps.Metro.dll
/BookExchange/bin/Debug/MahApps.Metro.pdb
/BookExchange/bin/Debug/MahApps.Metro.xml
/BookExchange/bin/Debug/System.Windows.Interactivity.dll
/BookExchange/obj/Debug/App.baml
/BookExchange/obj/Debug/BookExchange_MarkupCompile.i.lref
/BookExchange/obj/Debug/Resources/Icons.baml
/BookExchange/obj/Debug/Resources/IconsNonShared.baml


/BookExchange/obj
/BookExchange/bin
/DTO/obj
/DTO/bin
/Model/obj
/Model/bin
/Proxy/obj
/Proxy/bin
/Utility/obj
/Utility/bin
/ViewModel/obj
/ViewModel/bin
/product/Debug/Resources
/product/Debug/Autofac.Configuration.dll
/product/Debug/Autofac.Configuration.pdb
/product/Debug/Autofac.Configuration.xml
/product/Debug/Autofac.dll
/product/Debug/Autofac.pdb
/product/Debug/Autofac.xml
/product/Debug/BookExchange.exe
/product/Debug/BookExchange.exe.config
/product/Debug/BookExchange.pdb
/product/Debug/ControlzEx.dll
/product/Debug/ControlzEx.pdb
/product/Debug/DTO.dll
/product/Debug/DTO.pdb
/product/Debug/MahApps.Metro.dll
/product/Debug/MahApps.Metro.IconPacks.dll
/product/Debug/MahApps.Metro.IconPacks.pdb
/product/Debug/MahApps.Metro.IconPacks.xml
/product/Debug/MahApps.Metro.pdb
/product/Debug/MahApps.Metro.xml
/product/Debug/Microsoft.Extensions.Configuration.Abstractions.dll
/product/Debug/Microsoft.Extensions.Configuration.Abstractions.xml
/product/Debug/Microsoft.Extensions.Configuration.dll
/product/Debug/Microsoft.Extensions.Configuration.FileExtensions.dll
/product/Debug/Microsoft.Extensions.Configuration.FileExtensions.xml
/product/Debug/Microsoft.Extensions.Configuration.Json.dll
/product/Debug/Microsoft.Extensions.Configuration.Json.xml
/product/Debug/Microsoft.Extensions.Configuration.xml
/product/Debug/Microsoft.Extensions.Configuration.Xml.dll
/product/Debug/Microsoft.Extensions.Configuration.Xml.xml
/product/Debug/Microsoft.Extensions.FileProviders.Abstractions.dll
/product/Debug/Microsoft.Extensions.FileProviders.Abstractions.xml
/product/Debug/Microsoft.Extensions.FileProviders.Physical.dll
/product/Debug/Microsoft.Extensions.FileProviders.Physical.xml
/product/Debug/Microsoft.Extensions.FileSystemGlobbing.dll
/product/Debug/Microsoft.Extensions.FileSystemGlobbing.xml
/product/Debug/Microsoft.Extensions.Primitives.dll
/product/Debug/Microsoft.Extensions.Primitives.xml
/product/Debug/netstandard.dll
/product/Debug/Newtonsoft.Json.dll
/product/Debug/Newtonsoft.Json.xml
/product/Debug/System.Buffers.dll
/product/Debug/System.Buffers.xml
/product/Debug/System.Memory.dll
/product/Debug/System.Memory.xml
/product/Debug/System.Numerics.Vectors.dll
/product/Debug/System.Numerics.Vectors.xml
/product/Debug/System.Runtime.CompilerServices.Unsafe.dll
/product/Debug/System.Runtime.CompilerServices.Unsafe.xml
/product/Debug/System.Security.Cryptography.Xml.dll
/product/Debug/System.Windows.Interactivity.dll
/product/Debug/Utility.dll
/product/Debug/Utility.dll.config
/product/Debug/Utility.pdb
/product/Debug/ViewModel.dll
/product/Debug/ViewModel.dll.config
/product/Debug/ViewModel.pdb
/product/Debug/LogService.pdb
/product/Debug/LogService.dll
/product/Debug/NLog.dll
/product/Debug/NLog.xml
/LogService/bin
/LogService/obj
/product/Debug
/product/Debug
