/.vs/BookExchange/v15/.suo
/.vs/BookExchange/v15/Server/sqlite3/db.lock
/.vs/BookExchange/v15/Server/sqlite3/storage.ide
/.vs/BookExchange/v15/Server/sqlite3/storage.ide-shm
/.vs/BookExchange/v15/Server/sqlite3/storage.ide-wal
/BookExchange/Resources/Entypo-license.txt
/BookExchange/Resources/Entypo.ttf
/BookExchange/Resources/Icons.xaml
/BookExchange/Resources/IconsNonShared.xaml
/BookExchange/Resources/WindowsIcons-license.txt
/BookExchange/bin/Debug/BookExchange.exe
/BookExchange/bin/Debug/BookExchange.exe.config
/BookExchange/bin/Debug/BookExchange.pdb
/BookExchange/bin/Debug/Resources/backgroud.bmp
/BookExchange/bin/Debug/Resources/login_name.png
/BookExchange/bin/Debug/Resources/login_password.png
/BookExchange/bin/Debug/Utility.dll
/BookExchange/bin/Debug/Utility.pdb
/BookExchange/bin/Debug/ViewModel.dll
/BookExchange/bin/Debug/ViewModel.pdb
/BookExchange/obj/Debug/App.g.cs
/BookExchange/obj/Debug/App.g.i.cs
/BookExchange/obj/Debug/BookExchange.Properties.Resources.resources
/BookExchange/obj/Debug/BookExchange.csproj.CopyComplete
/BookExchange/obj/Debug/BookExchange.csproj.CoreCompileInputs.cache
/BookExchange/obj/Debug/BookExchange.csproj.FileListAbsolute.txt
/BookExchange/obj/Debug/BookExchange.csproj.GenerateResource.cache
/BookExchange/obj/Debug/BookExchange.csprojAssemblyReference.cache
/BookExchange/obj/Debug/BookExchange.exe
/BookExchange/obj/Debug/BookExchange.g.resources
/BookExchange/obj/Debug/BookExchange.pdb
/BookExchange/obj/Debug/BookExchange_MarkupCompile.cache
/BookExchange/obj/Debug/BookExchange_MarkupCompile.i.cache
/BookExchange/obj/Debug/BookExchange_MarkupCompile.lref
/BookExchange/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/BookExchange/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BookExchange/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/BookExchange/obj/Debug/MainWindow.g.i.cs
/BookExchange/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/BookExchange/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BookExchange/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BookExchange/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BookExchange/obj/Debug/WindowLogin.baml
/BookExchange/obj/Debug/WindowLogin.g.cs
/BookExchange/obj/Debug/WindowLogin.g.i.cs
/BookExchange/obj/Debug/WindowMain.baml
/BookExchange/obj/Debug/WindowMain.g.cs
/BookExchange/obj/Debug/WindowMain.g.i.cs
/BookExchange/packages.config
/DTO/bin/Debug/DTO.dll
/DTO/bin/Debug/DTO.pdb
/DTO/obj/Debug/DTO.csproj.CoreCompileInputs.cache
/DTO/obj/Debug/DTO.csproj.FileListAbsolute.txt
/DTO/obj/Debug/DTO.csprojAssemblyReference.cache
/DTO/obj/Debug/DTO.dll
/DTO/obj/Debug/DTO.pdb
/DTO/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/DTO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DTO/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DTO/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DTO/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Model/bin/Debug/Model.dll
/Model/bin/Debug/Model.pdb
/Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Model/obj/Debug/Model.csproj.CoreCompileInputs.cache
/Model/obj/Debug/Model.csproj.FileListAbsolute.txt
/Model/obj/Debug/Model.csprojAssemblyReference.cache
/Model/obj/Debug/Model.dll
/Model/obj/Debug/Model.pdb
/Model/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Model/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Model/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Proxy/bin/Debug/Proxy.dll
/Proxy/bin/Debug/Proxy.pdb
/Proxy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Proxy/obj/Debug/Proxy.csproj.CoreCompileInputs.cache
/Proxy/obj/Debug/Proxy.csproj.FileListAbsolute.txt
/Proxy/obj/Debug/Proxy.csprojAssemblyReference.cache
/Proxy/obj/Debug/Proxy.dll
/Proxy/obj/Debug/Proxy.pdb
/Proxy/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Proxy/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Proxy/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Utility/bin/Debug/Utility.dll
/Utility/bin/Debug/Utility.pdb
/Utility/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Utility/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Utility/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Utility/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Utility/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Utility/obj/Debug/Utility.csproj.CoreCompileInputs.cache
/Utility/obj/Debug/Utility.csproj.FileListAbsolute.txt
/Utility/obj/Debug/Utility.csprojAssemblyReference.cache
/Utility/obj/Debug/Utility.dll
/Utility/obj/Debug/Utility.pdb
/ViewModel/bin/Debug/DTO.dll
/ViewModel/bin/Debug/DTO.pdb
/ViewModel/bin/Debug/Model.dll
/ViewModel/bin/Debug/Model.pdb
/ViewModel/bin/Debug/Proxy.dll
/ViewModel/bin/Debug/Proxy.pdb
/ViewModel/bin/Debug/Utility.dll
/ViewModel/bin/Debug/Utility.pdb
/ViewModel/bin/Debug/ViewModel.dll
/ViewModel/bin/Debug/ViewModel.pdb
/ViewModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ViewModel/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ViewModel/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ViewModel/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ViewModel/obj/Debug/ViewModel.csproj.CopyComplete
/ViewModel/obj/Debug/ViewModel.csproj.CoreCompileInputs.cache
/ViewModel/obj/Debug/ViewModel.csproj.FileListAbsolute.txt
/ViewModel/obj/Debug/ViewModel.csprojAssemblyReference.cache
/ViewModel/obj/Debug/ViewModel.dll
/ViewModel/obj/Debug/ViewModel.pdb
/packages/ControlzEx.3.0.2.4/.signature.p7s
/packages/ControlzEx.3.0.2.4/ControlzEx.3.0.2.4.nupkg
/packages/ControlzEx.3.0.2.4/lib/net40/ControlzEx.dll
/packages/ControlzEx.3.0.2.4/lib/net40/ControlzEx.pdb
/packages/ControlzEx.3.0.2.4/lib/net40/System.Windows.Interactivity.dll
/packages/ControlzEx.3.0.2.4/lib/net45/ControlzEx.dll
/packages/ControlzEx.3.0.2.4/lib/net45/ControlzEx.pdb
/packages/ControlzEx.3.0.2.4/lib/net45/System.Windows.Interactivity.dll
/packages/ControlzEx.3.0.2.4/lib/net462/ControlzEx.dll
/packages/ControlzEx.3.0.2.4/lib/net462/ControlzEx.pdb
/packages/ControlzEx.3.0.2.4/lib/net462/System.Windows.Interactivity.dll
/packages/MahApps.Metro.1.6.5/.signature.p7s
/packages/MahApps.Metro.1.6.5/MahApps.Metro.1.6.5.nupkg
/packages/MahApps.Metro.1.6.5/lib/net40/MahApps.Metro.dll
/packages/MahApps.Metro.1.6.5/lib/net40/MahApps.Metro.pdb
/packages/MahApps.Metro.1.6.5/lib/net40/MahApps.Metro.xml
/packages/MahApps.Metro.1.6.5/lib/net45/MahApps.Metro.dll
/packages/MahApps.Metro.1.6.5/lib/net45/MahApps.Metro.pdb
/packages/MahApps.Metro.1.6.5/lib/net45/MahApps.Metro.xml
/packages/MahApps.Metro.1.6.5/lib/net46/MahApps.Metro.dll
/packages/MahApps.Metro.1.6.5/lib/net46/MahApps.Metro.pdb
/packages/MahApps.Metro.1.6.5/lib/net46/MahApps.Metro.xml
/packages/MahApps.Metro.1.6.5/lib/net47/MahApps.Metro.dll
/packages/MahApps.Metro.1.6.5/lib/net47/MahApps.Metro.pdb
/packages/MahApps.Metro.1.6.5/lib/net47/MahApps.Metro.xml
/packages/MahApps.Metro.Resources.0.6.1.0/.signature.p7s
/packages/MahApps.Metro.Resources.0.6.1.0/MahApps.Metro.Resources.0.6.1.0.nupkg
/packages/MahApps.Metro.Resources.0.6.1.0/content/Resources/Entypo-license.txt
/packages/MahApps.Metro.Resources.0.6.1.0/content/Resources/Entypo.ttf
/packages/MahApps.Metro.Resources.0.6.1.0/content/Resources/Icons.xaml
/packages/MahApps.Metro.Resources.0.6.1.0/content/Resources/IconsNonShared.xaml
/packages/MahApps.Metro.Resources.0.6.1.0/content/Resources/WindowsIcons-license.txt
/BookExchange/bin/Debug/ControlzEx.dll
/BookExchange/bin/Debug/ControlzEx.pdb
/BookExchange/bin/Debug/MahApps.Metro.IconPacks.dll
/BookExchange/bin/Debug/MahApps.Metro.IconPacks.pdb
/BookExchange/bin/Debug/MahApps.Metro.IconPacks.xml
/BookExchange/bin/Debug/MahApps.Metro.dll
/BookExchange/bin/Debug/MahApps.Metro.pdb
/BookExchange/bin/Debug/MahApps.Metro.xml
/BookExchange/bin/Debug/System.Windows.Interactivity.dll
/BookExchange/obj/Debug/App.baml
/BookExchange/obj/Debug/BookExchange_MarkupCompile.i.lref
/BookExchange/obj/Debug/Resources/Icons.baml
/BookExchange/obj/Debug/Resources/IconsNonShared.baml
/ViewModel/Base/BaseCommand.cs
/ViewModel/DataControl/TextBlock.cs
/ViewModel/DataControl/TextBox.cs
/packages/MahApps.Metro.IconPacks.2.3.0/.signature.p7s
/packages/MahApps.Metro.IconPacks.2.3.0/MahApps.Metro.IconPacks.2.3.0.nupkg
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net40/MahApps.Metro.IconPacks.XML
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net40/MahApps.Metro.IconPacks.dll
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net40/MahApps.Metro.IconPacks.pdb
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net45/MahApps.Metro.IconPacks.XML
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net45/MahApps.Metro.IconPacks.dll
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net45/MahApps.Metro.IconPacks.pdb
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net46/MahApps.Metro.IconPacks.XML
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net46/MahApps.Metro.IconPacks.dll
/packages/MahApps.Metro.IconPacks.2.3.0/lib/net46/MahApps.Metro.IconPacks.pdb
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core.dll
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core.pdb
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core.pri
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core.xml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core/Converter/Converters.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core/Converter/Converters.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.Core/MahApps.Metro.IconPacks.Core.xr.xml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.dll
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.pdb
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.pri
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks.xml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/MahApps.Metro.IconPacks.xr.xml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/Generic.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/Generic.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/IconPacks.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/IconPacks.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconEntypo.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconEntypo.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconFontAwesome.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconFontAwesome.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconMaterial.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconMaterial.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconMaterialLight.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconMaterialLight.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconModern.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconModern.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconOcticons.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconOcticons.xbf
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconSimpleIcons.xaml
/packages/MahApps.Metro.IconPacks.2.3.0/lib/uap10.0/MahApps.Metro.IconPacks/Themes/PackIconSimpleIcons.xbf
