<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings >
            <basicHttpBinding >
                <binding name="ExchangeBookServiceSoap"  
                         maxBufferPoolSize="2147483647" 
                         maxReceivedMessageSize="2147483647"
                         maxBufferSize="2147483647"
                         messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59077/ExchangeBookService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ExchangeBookServiceSoap"
                contract="ServiceReference_exchangebook.ExchangeBookServiceSoap"
                name="ExchangeBookServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>